.tree-container {
  .tree-leftMenu {
    width: 350px;
    height: 100%;
  }
  .tree-right-box {
    width: calc(100% - 350px);
    height: 100%;
  }
}
.tree-detail {
  width: 60vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0px;
  right: 0px;
  box-shadow: 0px 4px 19px 0px rgba(178, 178, 178, 0.5);
}
